@@Model BlogProject.Models.Student

@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Student/List">Back To Students</a>
<div id="containershow">
    <h2>@Model.StudentFName @Model.StudentLName</h2>
    <p>@Model.StudentId</p>
</div>